body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

div {
    font-family: Verdana, Geneva, sans-serif;
}

div#header {
    background-color: #CCCCCC;
    padding: 5px;
    position: fixed;
    top: 0px;
    width: 100%
}

div#content {
    height: 100%;
    padding: 35px 5px 5px 5px;
    overflow: auto;
}

a {
    text-decoration: none;
}

a:link {
    color: #CC3333;
}

a:visited {
    color: #CC3333;
}

a:active {
    color: #FF6666;
}

a:hover {
    color: #FF6666;
}
