html {
    overflow-y: scroll
}

div#header {
    padding: 0 1rem;
    background-color: #CCCCCC;
}

div#content {
    padding: 2rem 0 2rem;
}

a {
    text-decoration: none;
}

a:link {
    color: #CC3333;
}

a:visited {
    color: #CC3333;
}

a:active {
    color: #FF6666;
}

a:hover {
    color: #FF6666;
}
