body {
    margin: 0px;
}

div {
    font-family: Verdana, Geneva, sans-serif;
}

div.largebanner {
    font-size: 50px;
    font-weight: bold;
}

div.smallbanner {
    background-color: #CCCCCC;
    padding: 5px;
}

div.content {
    padding: 5px;
}

div.footer {
    background-color: #CCCCCC;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:link {
    color: #CC3333;
}

a:visited {
    color: #CC3333;
}

a:active {
    color: #FF6666;
}

a:hover {
    color: #FF6666;
}
