<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.url}}/css/style.css" type="text/css">
</head>
<body>
    <div id="site">
        <div id="smallbanner">
            <a href="{{ site.url }}">home</a>
        </div>

        <div id="content">
{{ content }}
        </div>

        <div id="footer">
            <a href="https://github.com/johnelse">
                <img src="{{ site.url }}/images/GitHub-Mark-32px.png">
            </a>
        </div>
    </div>
</body>
</html>
