<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css">
</head>
<body>
    <header>
        <nav id="header-nav" class="navbar navbar-default">
            <div class="container">
                <div class="row pull-left">
                    <a href="{{ site.baseurl }}/">home</a>
                    -
                    <a href="{{ site.baseurl }}/about/">about</a>
                    -
                    <a href="{{ site.baseurl }}/contact/">contact</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row" id="content">
            <div class="col-sm-6">
{{ content }}
            </div>
        </div>
    </div>

    <script src="{{site.baseurl}}/js/jquery-2.2.4.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
</body>
</html>
